// Navbar

$nav_link_color: $dark_blue;
$nav_active_link_color: $orange_cus;

// Headlines

$label_color: $gray-900;
$headline_color: $dark_blue;


// bg section
$bg_section: #1198da;
$bg_footer: #056898;

